@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
  font-family: Fortnite;
  src: url('./assets/fortnite.otf') format('opentype');
}

@font-face {
  font-family: Fortnite;
  font-weight: bold;
  src: url('./assets/fortnite.otf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter UI', sans-serif;
}

.arena-bar-container {
  /* background: black; */
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.arena-bar {
  display: flex;
  flex: 0 0 auto;
  background: #fff;
  width: 100%;
  height: 56px;
  position: relative;
  flex-direction: row;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  z-index: 2;
  /* box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.54); */
}


