.arena-bar-team {
  /* background: ; */
  display: flex;
  flex: 1 1 auto;
  /* border-left: 1px solid rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: row;
}

.arena-bar-team__rank {
  width: 80px;
  flex: 0 0 auto;
  /* background: #1d181d;
  color: #fff; */
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arena-bar-team__rank.first {
  background: #fdc823;
}
.arena-bar-team__rank.second {
  background: #dcdee2;
}
.arena-bar-team__rank.third {
  background: #f0a969;
}

.arena-bar-team__rank__number {
  font-size: 26px;
}
.arena-bar-team__rank__ordinal {
  font-size: 14px;
  transform: translateY(-5px);
}

.arena-bar-team__name {
  flex: 1;
  display: flex;
  flex-direction: column;

  /* justify-content: flex-start; */
  padding: 0 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  overflow: hidden;
}

.arena-bar-team__name--inner {
  /* width: 100%; */
  display: inline;
  flex-direction: column;
  white-space: nowrap;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.arena-bar-team__name--item {
  display: inline-block;
  /* vertical-align: bottom; */
}

.arena-bar-team__name--seperator {
  display: inline-block;
  margin: 0 5px;
  opacity: 0.6;
}

.arena-bar-team__avatar {
  position: relative;
  width: 65px;
  flex: 0 0 auto;
}

.arena-bar-team__avatar--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arena-bar-team__score {
  flex: 0 0 auto;
  width: 48px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  position: relative;
}

.arena-bar-team__score--diff {
  position: absolute;
  width:30px;
  height: 30px;
  top: 50%;
  left:50%;
  font-size: 24px;
  margin-left: -15px;
  margin-top: -15px;
  text-align: center;
  animation: new-score 1s ease forwards;
}

@keyframes new-score {
  0% {
    transform: translate3d(0, -50%, 0);
    opacity:1
  }
  60% {
    transform: translate3d(0, -100%, 0);
    opacity: 1
  }
  100% {
    transform: translate3d(0, -200%, 0);
    opacity: 0;
  }
}

.avatars-2 .arena-bar-team__avatar--img:last-child {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.avatars-3 .arena-bar-team__avatar--img:nth-child(2) {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.avatars-3 .arena-bar-team__avatar--img:nth-child(3) {
  clip-path: polygon(50% 0, 0 100%, 0 0);
}
