.arena-bar-logo {
  width: 160px;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.arena-bar-logo__img {
  width: 140px;
  height: 140px;
  display: block;
  /* background: teal; */
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: none;
  outline: none;
  object-fit: contain;
  z-index: 99;
}
