.arena-bar-logo {
  width: 100px;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.arena-bar-logo__img {
  width: 110px;
  height: 95px;
  display: block;
  /* background: teal; */
  position: fixed;
  bottom: -4px;
  left: 0;
  border: none;
  outline: none;
  object-fit: contain;
  z-index: 99;
}
