.arena-bar-stats {
  flex: 0 0 auto;
  width: 550px;
  /* border-left: 1px solid rgba(0, 0, 0, 0.1); */
  /* background:lightblue; */
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}

.arena-bar-stats__list {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.arena-bar-stats__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 19px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
  text-align: left;
  flex-direction: row;
}

.arena-bar-stats__item:last-child {
  border-right: none;
}

.arena-bar-stats__item--label {
  font-weight: 600;
  opacity: 0.7;
  text-transform: uppercase;
  /* font-size: 14px; */
  margin-right: 15px;
}

.arena-bar-stats__item--value {
  opacity: 1;
}
