.arena-bar-storm {
  height: 10px;
  background: rgba(247, 221, 253, 0.8);
  width: 1180px;
  position: relative;
  z-index: 5;
}

.arena-bar-storm__team {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #5c4374;
  left: 50%;
  top: -10px;
  margin-left: -10px;
  z-index: 5;
}

.arena-bar-storm__progress {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.arena-bar-storm__progress--elim,
.arena-bar-storm__progress--storm {
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.arena-bar-storm__progress--storm {
  z-index: 1;
  box-shadow: 0px 0px 21px #8c5af6;
  background: repeating-linear-gradient(45deg, #8840b0, #8840b0 4px, #a833e9 4px, #a833e9 8px);
  opacity: 0.7;
}
.arena-bar-storm__progress--elim {
  background: #894fc8;
  background: repeating-linear-gradient(45deg, #756784, #756784 4px, #8c7e9a 4px, #8c7e9a 8px);
  z-index: 2;
  /* box-shadow: 0px 0px 21px #8C5AF6; */
}
