.tournament-widget-storm {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.tournament-widget-storm--storm {
  margin: auto 0;
  display: flex;
  flex-direction: row;
}

.tournament-widget-storm--storm--icon {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  object-fit: contain;
}
.tournament-widget-storm--storm--icon img {
  margin: auto;
  zoom: 1;
}

.tournament-widget-storm--storm--bar-container {
  height: 100%;
  margin: auto 0;
  width: calc(100% - 2 * 45px);
  display: flex;
}

.tournament-widget-storm--storm--bar {
  width: 100%;
  height: 15px;
  margin: auto 10px;
  background: #adbccc;
  border-radius: 5px;
  position: relative;
}

.tournament-widget-storm--storm--bar--electricity {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  background: url('./assets/storm-electricity.png');
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  border-radius: 5px 0 0 5px;
}

.tournament-widget-storm--storm--bar--inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: url('./assets/bg.png');
  background-size: contain;
  transition: all 300ms;
  filter: saturate(1.5);
  z-index: 1;
}
.tournament-widget-storm--storm--bar--end-bar {
  position: absolute;
  right: -2px;
  top: -4px;
  bottom: -4px;
  width: 4px;
  border-radius: 3px;
  background: #6674ff;
}

.tournament-widget-storm--storm--team {
  border-radius: 999px;
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translateX(-50%);
  z-index: 9;
  top: -5px;
  border-radius: 999px;
  background-color: #a642ff;
  color: #fff;
}

.tournament-widget-storm--storm--team--rank {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  left: 0;
  font-weight: 900;
  font-size: 15px;
  display: flex;
  text-align: center;
  color: #fff;
}
.tournament-widget-storm--storm--team--rank span {
  margin: auto;
  display: block;
}
