.tournament-widget-promo {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.postmates .tournament-widget-promo__cta--header {
  font-weight: 700;
}

.tournament-widget-promo__badge {
  position: absolute;
  bottom: 102%;
  font-size: 20px;
  left: 50%;
  line-height: 1;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 500;
  background: #00ce9d;
  border-color: #00ce9d;
  padding: 4px 18px;
  z-index: -1;
  -webkit-clip-path: polygon(4% 0, 100% 0, 93% 100%, 0 100%, 4% 82%);
  clip-path: polygon(4% 0, 100% 0, 93% 100%, 0 100%, 4% 82%);
}

.tournament-widget-promo__logo {
  width: 150px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tournament-widget-promo__logo--img {
  height: 80%;
  object-fit: contain;
  width: 90%;
}

.tournament-widget-promo__cta {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

.tournament-widget-promo__cta--header {
  font-size: 26px;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tournament-widget-promo__cta--text {
  margin-top: 5px;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
