@import url('https://rsms.me/inter/inter-ui.css');

@font-face {
  font-family: Fortnite;
  src: url('./assets/fortnite.otf') format('opentype');
}

@font-face {
  font-family: Fortnite;
  font-weight: bold;
  src: url('./assets/fortnite.otf') format('opentype');
}

* {
  font-family: 'Inter UI', sans-serif;
}

#root {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
}

.container.dev {
  background: black;
}

.tournament-widget {
  left: 0;
  bottom: 4px;
  height: 46px;
  position: absolute;
  width: 100%;
  flex: 0 0 auto;
  background: #fff;
  display: block;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: row;
}

.tournament-widget__bar {
  height: 4px;
  width: 100%;
  left: 0;
  transition: all 200ms ease;
  position: absolute;
  bottom: -4px;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.5);
}

.tournament-widget__left,
.tournament-widget__right {
  position: relative;
  margin: auto 0;
  height: 100%;
  flex: 1;
}

.tournament-widget__center {
  flex: 0 0 auto;
  width: 100px;
  position: relative;
}

.tournament-widget__left,
.tournament-widget__center {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.tournament-widget__left {
  padding-right: 5px;
}
.tournament-widget__center {
  padding-right: 20pxs;
  padding-left: 20pxs;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.tournament-widget__right {
  padding-left: 5px;
  display: flex;
  flex-direction: row;  
}

/*center piece*/
.tournament-widget__center__left,
.tournament-widget__center__right {
  position: relative;
  margin: auto;
  width: calc(100% / 3);
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
}

.tournament-widget__center__left span,
.tournament-widget__center__center span,
.tournament-widget__center__right span {
  display: block;
  margin: 0 10px;
}

.tournament-widget__logo {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  width:100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  object-fit: contain;
}

.tournament-widget__center__left {
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}

.tournament-widget__center__right {
  font-weight: 900;
  margin-right: 5px;
  text-align: right;
  font-size: 20px;
}




.tournament-widget__right--section {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tournament-widget__right--section:last-child {
  border-right:none;
}

.tournament-widget__right--section.storm-section {
  flex: 0 0 auto;
}

.tournament-widget__right--section__label {
  opacity: 0.5;
  margin-right: 10px;
}

.tournament-widget__right--section__count {
  opacity: 1;

}



.tournament-widget__right--section span {
  font-weight: 900;
  text-align: right;
  font-size: 16px;
  white-space: nowrap;
  /* width: 100%; */
  text-overflow: ellipsis;
  overflow: hidden;
}
